<nav aria-label="pagination" class="bgsu_common_pagination bgsu_common__screen">
<div class="bgsu_common_pagination_buttons">
<a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_first"{% if pagination.hasPreviousPage() %} href="?page=1"{% endif %}>First</a>
<a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_previous"{% if pagination.hasPreviousPage() %} href="?page={{ pagination.getPreviousPage() }}"{% endif %}>Previous</a>
<a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_next"{% if pagination.hasNextPage() %} href="?page={{ pagination.getNextPage() }}"{% endif %}>Next</a>
<a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_last"{% if pagination.hasNextPage() %} href="?page={{ pagination.getNbPages() }}"{% endif %}>Last</a>
</div>
<div aria-current="page" class="bgsu_common_pagination_current">
    {{ pagination_rows|default('Rows') }}
    {{ pagination.getCurrentPageOffsetStart()|number_format }} –
    {{ pagination.getCurrentPageOffsetEnd()|number_format }} of
    {{ pagination.getNbResults()|number_format }}
    {{ pagination_sort }}
</div>
{% if pagination_file %}
<div>
<a href="{{ current_url() }}/{{ pagination_file }}">Download as {{ pagination_file|upper }}</a>
</div>
{% endif %}
</nav>
