{% set table = table ?? pagination %}
{% if table|length > 0 %}
{% set table_keys = table_keys ?? table|first|keys %}
{% set table_headers = table_headers ?? table_keys %}
<table class="bgsu_common_table bgsu_common__full">
<thead>
<tr>
{% for header in table_headers %}
<th class="bgsu_common_table_key bgsu_common_table_key__{{ table_keys[loop.index0] }}">{{ header }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for row in table %}
<tr>
{% for key in table_keys %}
<td class="bgsu_common_table_key bgsu_common_table_key__{{ key }}">{{ row[key] }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p><strong>No {{ pagination_rows|default('Rows') }} Available.</strong></p>
{% endif %}
